### Ansible Managed - {{lookup('pipe','date +%m/%d/%Y_%I:%M:%S_%p')}}

###############################################################
# General Settings
###############################################################
[client-server]
socket                          	= /var/lib/mysql/mysql.sock

[mysql]
port                            	= 3306
socket                          	= /var/lib/mysql/mysql.sock
default_character_set           	= utf8

[mysqld_safe]
basedir                         	= /usr/
pid-file                        	= /var/lib/mysql/mysql.pid

[mysqld]
basedir                         	= /usr/
datadir                         	= /var/lib/mysql
tmpdir                          	= /tmp
socket                          	= /var/lib/mysql/mysql.sock
port                            	= 3306
pid-file                        	= /var/lib/mysql/mysql.pid
server_id                       	= {{ ansible_enp0s8['ipv4']['address']|regex_replace("\.", "" )}}
gtid_domain_id                  	= {{ ansible_enp0s8['ipv4']['address']|regex_replace("\.", "") }}
character_set_server            	= utf8
collation_server                	= utf8_general_ci
init_connect                    	= 'SET NAMES utf8'
user                            	= mysql
ignore-db-dir                   	= lost+found
default_storage_engine          	= InnoDB
#enforce_storage_engine          	= InnoDB
userstat                        	= ON
explicit_defaults_for_timestamp 	= 1
feedback                        	= ON
log_bin_trust_function_creators 	= 1
performance_schema
event_scheduler
skip_name_resolve

################################################################
# Safety, Security & Recovery
################################################################
symbolic_links                  	= 0
myisam_recover_options          	= FORCE,BACKUP
max_allowed_packet              	= 32M
max_connect_errors              	= 1000000
#ssl_ca                          	=
#ssl_key                         	=
#ssl_cert                        	=

################################################################
# Caches, Buffers & Connections
################################################################
query_cache_type                	= 0
query_cache_size                	= 0
thread_cache_size               	= 50
thread_handling                 	= pool-of-threads
open_files_limit                	= 65535
table_definition_cache          	= 4096
back_log                        	= 200
table_open_cache                	= 4096
thread_pool_size                	= {{ ansible_processor_vcpus }}
max_connections                 	= 500
wait_timeout                    	= 600
interactive_timeout             	= 600
max_connect_errors              	= 1000000
join_buffer_size                	= 16M
key_buffer_size                 	= 16M
tmp_table_size                  	= {{ (ansible_memtotal_mb/512)|round|int }}M
max_heap_table_size             	= {{ (ansible_memtotal_mb/512)|round|int }}M

################################################################
# MySQL Logs
################################################################
binlog_format                   	= ROW
binlog_row_image                	= FULL
log_bin                         	= /var/log/mysql/mariadb-bin
log_bin_index                   	= /var/log/mysql/mariadb-bin.index
expire_logs_days                	= 3
sync_binlog                     	= 1
log_error                       	= /var/log/mysql/mariadb-error.log
slow_query_log                  	= 1
slow_query_log_file             	= /var/log/mysql/mariadb-slow.log
log_queries_not_using_indexes   	= 0
log_warnings                    	= 2
log_slow_verbosity              	= query_plan
long_query_time                 	= 5

################################################################
# InnoDB Variables
################################################################
innodb_file_per_table           	= 1
innodb_buffer_pool_size         	= {{ (ansible_memtotal_mb/1024 * 0.66)|round|int }}G
innodb_buffer_pool_instances    	= {{ (ansible_memtotal_mb/1024 * 0.66)|round|int }}
innodb_page_cleaners           		= {{ [(ansible_memtotal_mb/1024 * 0.66),64]|min|round|int }}
innodb_flush_log_at_trx_commit  	= 0
innodb_flush_method             	= O_DIRECT
innodb_log_files_in_group       	= {{ (((ansible_memtotal_mb/1024 * 0.66)/2)+1)|round|int }}
innodb_log_buffer_size          	= 32M
innodb_log_file_size            	= 1G
innodb_autoinc_lock_mode        	= 2
innodb_rollback_on_timeout      	= ON
innodb_stats_on_metadata        	= 0
innodb_thread_concurrency       	= {{ (ansible_processor_vcpus * 2) }}
innodb_force_primary_key        	= 0

################################################################
# MariaDB Optimizer Switches
################################################################
optimizer_search_depth          	= 0
optimizer_switch                	= index_merge=on
optimizer_switch                	= index_merge_union=on
optimizer_switch                	= index_merge_sort_union=on
optimizer_switch                	= index_merge_intersection=on
optimizer_switch                	= index_merge_sort_intersection=off
optimizer_switch                	= engine_condition_pushdown=off
optimizer_switch                	= index_condition_pushdown=on
optimizer_switch                	= derived_merge=on
optimizer_switch                	= derived_with_keys=on
optimizer_switch                	= firstmatch=on
optimizer_switch                	= loosescan=on
optimizer_switch                	= materialization=on
optimizer_switch                	= in_to_exists=on
optimizer_switch                	= semijoin=on
optimizer_switch                	= partial_match_rowid_merge=on
optimizer_switch                	= partial_match_table_scan=on
optimizer_switch                	= subquery_cache=on
optimizer_switch                	= mrr=off
optimizer_switch                	= mrr_cost_based=off
optimizer_switch                	= mrr_sort_keys=off
optimizer_switch                	= outer_join_with_cache=on
optimizer_switch                	= semijoin_with_cache=on
optimizer_switch                	= join_cache_incremental=on
optimizer_switch                	= join_cache_hashed=on
optimizer_switch                	= join_cache_bka=on
optimizer_switch                	= optimize_join_buffer_size=off
optimizer_switch                	= table_elimination=on
optimizer_switch                	= extended_keys=on
optimizer_switch                	= exists_to_in=on
optimizer_switch                	= orderby_uses_equalities=on
optimizer_switch                	= condition_pushdown_for_derived=on

################################################################
# MariaDB Audit
################################################################
plugin_load                     	= "server_audit.so"
server_audit_logging            	= 1
server_audit_output_type        	= file
server_audit_file_path          	= /var/log/mysql/mariadb-audit.log
server_audit_events	            	= query_ddl

#################################################################
## Encryption Settings
#################################################################
plugin_load_add                 	= "file_key_management.so"
file_key_management
file_key_management_filename    	= /etc/my.cnf.d/keys.txt
innodb_encrypt_tables           	= FORCE
innodb_encrypt_log              	= ON
innodb_encryption_threads       	= 4
innodb_tablespaces_encryption
encrypt_tmp_files               	= ON
encrypt_binlog                  	= ON

################################################################
# Standard Replication Settings
################################################################
log_slave_updates               	= 1
read_only                       	= ON
relay_log                       	= /var/log/mysql/mariadb-relay
relay_log_index                 	= /var/log/mysql/mariadb-relay.index
relay-log-info-file             	= /var/log/mysql/mariadb-relay.info
report_host                     	= {{ ansible_nodename }}
slave_parallel_mode             	= conservative
slave_domain_parallel_threads   	= 2
slave_parallel_threads          	= 2
sysdate_is_now                  	= 1

#################################################################
## Galera Settings
#################################################################
#wsrep_on                        	= ON
#wsrep_cluster_address           	= gcomm://
#wsrep_provider                  	= /usr/lib64/galera/libgalera_smm.so
#wsrep_provider_options          	= "gcs.fc_limit=32;gcache.size=2G;gcache.recover=yes"
#wsrep_slave_threads             	= {{ ansible_processor_vcpus }}
#wsrep_cluster_name              	= galera_cluster
#wsrep_node_name                 	= {{ ansible_nodename }}
#wsrep_node_address              	= {{ ansible_enp0s8['ipv4']['address'] }}
#wsrep_forced_binlog_format      	= ROW
#wsrep_sst_method                	= xtrabackup-v2
#wsrep_sst_auth                  	= change_me:change_me

#################################################################
## Galera SST Settings
#################################################################
#[sst]
#streamfmt                       	= xbstream
#transferfmt                     	= socat
#compressor                      	= pigz
#decompressor                    	= "pigz -dc"
#inno-apply-opts                 	= "--use-memory=1G"

#################################################################
## XtraBackup Settings
#################################################################
#[xtrabackup]
#user                            	= {{ sst_user }}
#password                        	= {{ sst_pass }}
#socket                          	= /var/lib/mysql/mysql.sock

