[sst]
streamfmt                       	= xbstream
transferfmt                     	= socat
compressor                      	= pigz
decompressor                    	= "pigz -dc"
inno-apply-opts                 	= "--use-memory=1G"
